*{
  margin:0;
  padding:0;
}
.nav-bar{
  height:60px;
  background-color: black;
  display: flex;
  color: white;

}
.nav-logo{
  width: 130px;
  height: 50px;
  display:flex;
  align-items: center;
}
.border{
  border: 1.5px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
}
.logo{
  background-image:url('logo.png');
  height: 60px;
  width: 100%;
  background-size: cover;
}

.nav-address{

}
.nav-address p{
  margin-left: 10px;
}
.address{
  margin-right: 10px;
  display: flex;

}